#include "resource.h"
#include "windows.h"

STRINGTABLE
BEGIN
    IDS_APP_TITLE "MultiMouse"
    IDS_TOOLTIP "MultiMouse"
END

IDI_NOTIFICATION_ICON ICON "icon.ico"

IDD_ABOUT DIALOGEX 10, 10, 200, 100
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About MultiMouse"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "&Close", IDOK, 144, 80, 50, 14
    PUSHBUTTON "&Github", IDC_ABOUT_GITHUB, 6, 80, 50, 14
    EDITTEXT IDC_ABOUT_TEXT, 6, 6, 188, 60, ES_READONLY | ES_MULTILINE | ES_CENTER
END
